In [31]:
import pandas as pd
import numpy as np

In [75]:
#Pre processing of data
df = pd.read_csv('data/data1.csv')
df = df.drop('Date',1)
col_list.remove('Volume')
col_list = df.columns.tolist()
df['Volume'] = df['Volume'] / 100
df.to_csv("data/proce.csv", index=False)
validate_df = pd.read_csv('data/proce.csv')
validate_df.head()

     Open    High     Low   Close  Volume  OpenInt
0  43.011  43.011  43.011  43.011    5.09        0
1  43.162  43.162  43.162  43.162    1.13        0
2  43.956  43.956  43.956  43.956    2.27        0
3  43.885  43.885  43.885  43.885   12.48        0
4  45.880  45.880  44.555  44.555    2.27        0