In [3]:
import pandas as pd
import numpy as np

In [11]:
#Pre processing of data
df = pd.read_csv('data/data1.csv')
df = df.drop('Date',1)
#col_list.remove('Volume')
col_list = df.columns.tolist()
df['Volume'] = df['Volume'] /10
df.to_csv("data/proce.csv", index=False)
validate_df = pd.read_csv('data/proce.csv')
validate_df.head()

     Open    High     Low   Close  Volume  OpenInt
0  43.011  43.011  43.011  43.011    50.9        0
1  43.162  43.162  43.162  43.162    11.3        0
2  43.956  43.956  43.956  43.956    22.7        0
3  43.885  43.885  43.885  43.885   124.8        0
4  45.880  45.880  44.555  44.555    22.7        0